@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add New Stylist</h1>
@using (Html.BeginForm())
{
  @* @Html.LabelFor(model => model.FirstName) *@
  <p>Enter Stylist's first name:
  @Html.TextBoxFor(model => model.FirstName)</p>
  @* @Html.LabelFor(model => model.LastName) *@
  <p>Enter Stylist's last name:
  @Html.TextBoxFor(model => model.LastName)</p>
  <p><input type="submit" value="Save Stylist Record"></p>
}
<p>@Html.ActionLink("Show All Stylists", "Index")</p>