@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h1>Stylist Details</h1>
<hr />
<p>@ViewBag.thisStylist.FirstName @ViewBag.thisStylist.LastName</p>

<hr>

@if (ViewBag.clients.Count == 0)
{
  <p>No clients found assigned to this stylist.</p>
}
else
{
  <p>This Stylist's Clients are:</p>

  @foreach(Client client in ViewBag.clients)
  {
    <li>@client.LastName, @client.FirstName</li>
  }
}


<hr>
<p>@Html.ActionLink("Edit This Stylist Record", "Edit", new { id = ViewBag.thisStylist.StylistId }) | @Html.ActionLink("Delete This Stylist Record", "Delete", new { id = ViewBag.thisStylist.StylistId }) | @Html.ActionLink("Back To All Stylists", "Index")</p>